"*":
  core:
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "bd8e7391-1548-4706-bf36-3e6e36ba9225"
  "linter-ui-default":
    panelHeight: 198
    showPanel: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
